
/*********************
NAV
*********************/

nav {
  text-align: center;
  padding: 0 0;
  margin: 5px 0 0;
}

nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

nav li {
  display: inline-block;
}
  
nav a {
  font-weight: 800;
  padding: 15px 10px;
}  


/*********************
HEADERS
*********************/
header {
  width: 100%;
  height: 50%;
  background color: #904098;
  text-align: center;
  display: block;
}

h3 {
  text-align: center;
}

.logo {
  text-align: center;
  margin: 0;
}

.mlogo {
position: static;
left: 50%;
right: 50%;
text-align: center;
font-size: 30px;
}


.header2 {
 background-color: black;
 border: 1px dotted lightgrey;
 margin: 7px auto;
 padding: 5px 5px;
 text-align: center;
 border-radius: 20px; 
 font: .75em 'Nosifer', cursive;
 font-size: .75em;
 width: 75%;
}



/*********************
BODY
*********************/

body {
  font-family:'Bangers', cursive;
}

.overall {
    display: block;
    background-color: antiquewhite;    
}

/*********************
CARD STYLING
*********************/
article {
    width: 30%  
}

.startcard {
    border: 1px solid lightblue;
    display: inline-block;
}

/*images*/
img {
 border-radius: 30px;
 width: 70%;
 height: 30%;
 margin: 7px auto;
 padding: 5px 5px;
 width: 100%;
}

/*descriptions*/

.description {
 margin: 7px auto;
 width: 90%;
 text-align: justify;
}

.specifications {
 margin: 7px auto;
 width: 90%;
 text-align: center;
 border-radius: 10px; 
 font: bold;
 color: black;
}

.availability {
 margin: 7px auto;
 padding: 5px 5px;
 width: 100%;
 text-align: left;
 border-radius: 5px; 
 color: yellow;
 background-color: darkgrey; 
}

.size {
background-color: lightgrey;
margin: 7px auto;
 padding: 5px 5px;
 width: 90%;
 text-align: center;
 border-radius: 20px; 
 clear: left;
}





/*********************
FOOTER
*********************/

footer {
  font-size: 1em;
  text-align: center;
  clear: both;
  padding-top: 50px;
  color: #ccc;
  }

/*********************
COLORS
*********************/
  
header {
 background: #22275B;
 border-color: #AE5DA4;
}
  
nav {
 background: #AE5DA4;
}
  
h1, h2 {
 color: #fff;
}

a {
 color: #22275B;
}
 
/* nav links */  
nav a, nav a:visited {
 color: #fff;  
}
    
/* selected nav link */
nav a.selected, nav a:hover {
 color: #22275B;
    }

