/*********************
GENERAL
*********************/
#mlogo {
position: static;
left: 50%;
right: 50%;
max-width: 100%;
max-height: 50%;
text-align: center;
font-size: 20px;
margin-top: 5px;
}

#logo {
  text-align: center;
  margin: 0;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  height: 50%;
  background color: #904098;
  text-align: center;
  display: block;
}

body {
  text-align: left;
  color: #000000 
}

body {
  font-family: 'Open Sans', sans-serif;
}

#section{
display: inline-block; 
}

#cards {
  width: 30%
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
  display: block;
}

img {
 width: 100%;
 height: 30%;
 display: block;
margin: 7px auto;
 padding: 5px 5px;
 width: 100%;
 text-align: center;
}

article {
display: block;
    overflow: auto;
width: 100%;
}

.description {
float: left;
margin: 7px auto;
 padding: 5px 5px;
 width: 100%;
 text-align: center;
}

#specifications{
background-color: lightgrey;
float: left;
margin: 7px auto;
 padding: 5px 5px;
 width: 100%;
 text-align: center;
 border-radius: 20px; 
}

#availability {
background-color: lightgrey;
float: left;
margin: 7px auto;
 padding: 5px 5px;
 width: 100%;
 text-align: center;
 border-radius: 20px; 
}

#size {
background-color: lightgrey;
float: left;
margin: 7px auto;
 padding: 5px 5px;
 width: 100%;
 text-align: center;
 border-radius: 20px; 
}

/*********************
HEADING
*********************/

header {
  float: left;
  margin: 0 0 30px 0;
  padding: 5px 0 0 0;
  width: 100%;
}

#header2 {
 float: left;
 background: #B8D87E;
 margin: 7px auto;
 padding: 5px 5px;
 width: 40%;
 text-align: center;
 border-radius: 20px; 
}

h1 {
  font-family: 'Changa One', sans-serif;
  font-size: 1.75em;
  font-weight: normal;
  line-height: 0.8em
    float: center;
margin: 7px auto;
 padding: 5px 5px;
 width: 100%;
 text-align: center;
}

h2 {
  font-size: 0.75em;
  margin: -5px 0 0;
  font-weight: normal;
}

li {
    list-style: none;
    display: inline-block;
}
/*********************
Navigation
*********************/

nav {
  text-align: center;
  padding: 0 0;
  margin: 5px 0 0;
}

nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

nav li {
  display: inline-block;
}
  
nav a {
  font-weight: 800;
  padding: 15px 10px;
}  

/******gallery*****/
#overall {
    display: block;
    background-color: antiquewhite;
}

article {
    width: 30%  
}

.startcard {
    border: 3px;
    border-color: aqua;
    border-style: solid;
    display: inline-block;
}

.gallery {
  margin: 0;
  padding: 0;
  list-style: none;
 display: block;
}
  
.gallery li {
  float: left;
  width: 45%;
  margin: 2.5%;
  background-color: #f5f5f5;
  color: #bdc3c7;
display: block;
}

.gallery li a p {
  margin: 0;
  padding: 5%;
  font-size: 0.75em;
  color: #bdc3c7;
}

/*******************

/*********************
FOOTER
*********************/

footer {
  font-size: 0.75em;
  text-align: center;
  clear: both;
  padding-top: 50px;
  color: #ccc;
  }

/*********************
COLORS
*********************/
  
/* site body */    
body {
 background-color: #fff;
 color: #999;
}
  
header {
 background: #22275B;
 border-color: #AE5DA4;
}
  
nav {
 background: #AE5DA4;
}
  
/* logo text */
h1, h2 {
 color: #fff;
}
  
/* links */
a {
 color: #22275B;
}
 
/* nav link */  
nav a, nav a:visited {
 color: #fff;  
}
    
/* selected nav link */
nav a.selected, nav a:hover {
 color: #22275B;
    }

